@page "/campaigns"

@using DnDNoteKeeper.Data
@using DnDNoteKeeper.Models
@using DnDNoteKeeper.Components.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@inject DnDDbContext appDbContext
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Active Campaigns - DnD Notekeeper</PageTitle>

<div class="container mt-4">
    <h2 class="mb-4">Find an Active Campaign!</h2>
    <span class="text-danger">@errorMessage</span>

    @if (campaignList == null)
    {
        <div class="spinner-border text-primary" role="status"></div>
    }
    else
    {
        <div class="row g-4 @(campaignList.Count < 3 ? "justify-content-center" : "")">
            @foreach (var campaign in campaignList)
            {
                <div class="col-12 col-md-6 col-lg-4" style="max-width: 400px; width: 100%;">
                    <CampaignCard Campaign="campaign" />
                </div>
            }
        </div>
    }
</div>

@code {
    private List<CampaignDetails>? campaignList;
    
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        // Db reference to campaign table, reference made in CampaignDetails model
        try {
            campaignList = await appDbContext.Campaigns.ToListAsync();
        } catch (Exception ex) {
            Console.WriteLine(ex);
            errorMessage = "A database issue occured (likely a timeout). Please try again!";
        }
    }
}