@page "/login"

@using DnDNoteKeeper.Data
@using DnDNoteKeeper.Models.ViewModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using DnDNoteKeeper.Services
@inject DnDDbContext appDbContext
@inject NavigationManager navigationManager

<div class="row mt-3">
    <div class="border border-primary rounded p-3">
        @if (Model != null) {
            <EditForm Model="@Model" OnValidSubmit="Authenticate" FormName="LoginForm">
                <DataAnnotationsValidator />
                <div>
                    <h3>Login</h3>
                </div>
                <div class="mb-3">
                    <label>Username</label>
                    <InputText @bind-Value="Model.UserName" class="form-control" placeholder="Username" />
                    <ValidationMessage For="() => Model.UserName" />
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <InputText @bind-Value="Model.Password" placeholder="Password" type="password" class="form-control" />
                    <ValidationMessage For="() => Model.Password" />
                </div>
                <div class="mb-2">
                    <span class="text-danger">@errorMessage</span>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </EditForm>
            <span>Don't have an account? <a href="/register">Click here to register!</a></span>
        }
    </div>
</div>

@code {
    // Authentication used throughout app (until limitations were discovered)
    [CascadingParameter]
    public HttpContext? HttpContext{ get; set; }

    // Form validation
    [SupplyParameterFromForm]
    public LoginViewModel? Model{ get; set; }

    private string? errorMessage;

    protected override void OnInitialized() => Model ??= new();

    private async Task Authenticate() {
        try {
            if (Model is null) return;

            // Comparing user account entered to in the database, seeing if entered username exists in db
            var userAccount = appDbContext.UserAccounts
                .FirstOrDefault(x => x.UserName == Model.UserName);

            // If user account/password is null... also checks password and verifies it w/ password hasher service against hashed pwd stored in db
            if (userAccount is null || !PasswordHasher.VerifyPassword(Model.Password ?? string.Empty, userAccount.Password ?? string.Empty)) {
                errorMessage = "Invalid username or password";
                return;
            }

            // Claims used to validate against username/id for access to certain actions around the app
            var claims = new List<Claim> {
                new Claim(ClaimTypes.Name, Model.UserName ?? string.Empty),
                new Claim(ClaimTypes.NameIdentifier, userAccount.Id.ToString())
            };

            var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var principal = new ClaimsPrincipal(identity);
            // If not signed in already, sign in and navigate to the home page
            if (HttpContext != null) {
                await HttpContext.SignInAsync(principal);
                navigationManager.NavigateTo("/");
            }
            else {
                errorMessage = "Authentication context not found";
            }
        } catch (Exception ex) {
            Console.WriteLine(ex);
            errorMessage = "A database error occured (likely timed out). Please try again in a few seconds!";
        }
    }
}
