@page "/counter"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject IJSRuntime js
@attribute [Authorize]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView>
    <Authorized>
        <br /><br />
        <button @onclick="DisplayGreetingAlert">Display Greeting Alert</button>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = default!;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task DisplayGreetingAlert() {
        var authenticationState = await authenticationStateTask;
        var message = $"Hello {authenticationState.User.Identity?.Name ?? "User"}";
        await js.InvokeVoidAsync("alert", message);
    }
}
