@page "/"
@using DnDNoteKeeper.Components.Pages.User
@using DnDNoteKeeper.Services

<PageTitle>DnD Note Keeper - Organize Your Adventures</PageTitle>

<div>
    <AuthorizeView>
        <NotAuthorized>
            <UnAuthHome />
        </NotAuthorized>
        <Authorized>
            <UserPage />
        </Authorized>
    </AuthorizeView>
</div>
