@page "/"
@using DnDNoteKeeper.Components.Pages.User
@using DnDNoteKeeper.Services

<PageTitle>DnD Note Keeper - Organize Your Adventures</PageTitle>

<div>
    @* This allows for different home screens depending on whether user is logged in or not
    UnAuthHome is used for unauthenticated users, UserPage for authenticated *@
    <AuthorizeView>
        <NotAuthorized>
            <UnAuthHome />
        </NotAuthorized>
        <Authorized>
            <UserPage />
        </Authorized>
    </AuthorizeView>
</div>
