@page "/"

<PageTitle>DnD Note Keeper - Organize Your Adventures</PageTitle>

<h1>DnD Note Keeper</h1>

<div>
    <AuthorizeView>
        <NotAuthorized>
            <UnAuthHome />
        </NotAuthorized>
        <Authorized>
            <span>Logged in as <b>@(context.User.Identity?.Name ?? "Unknown User")</b>. <a href="/logout">Click here</a> to logout</span>
            @* <UserPage /> *@
        </Authorized>
    </AuthorizeView>
</div>