@page "/"
@using DnDNoteKeeper.Components.Pages.User

<PageTitle>DnD Note Keeper - Organize Your Adventures</PageTitle>

<div>
    <AuthorizeView>
        <NotAuthorized>
            <UnAuthHome />
        </NotAuthorized>
        <Authorized>
            @* <span>Logged in as <b>@(context.User.Identity?.Name ?? "Unknown User")</b>. <a href="/logout">Click here</a> to logout</span> *@
            <UserPage />
        </Authorized>
    </AuthorizeView>
</div>